[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.3"
markdown = "*"
python-markdown-math = "*"
pymdown-extensions = "*"
pygments = "*"
django-password-reset = "*"
django-ckeditor = "*"
django-mptt = "*"

[dev-packages]

[requires]
python_version = "3.7"
