{% extends 'base.html' %}
{% load static %}
{% load blog_extras %} {% load comments_extra %}
{% block main %}
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'prism/prism.css' %}">
    <!-- Page Title
           ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>{{ post.author }}发布的个人博客<span>.</span></h1>

                <p>The sooner you start to code, the longer the program will take. —— Roy Carlson </p>
            </div>

        </div>

    </div>
    <!-- Page Title End-->


    <!-- Content
           ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row">

            <div id="primary" class="eight columns">

                <article class="post">

                    <div class="entry-header cf">

                        <h1>{{ post.title }}</h1>

                        <p class="post-meta">
                            <time class="date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                            <span class="readings">
                                <a class="badge badge-pill badge-success"
                                   href="{{ post.get_absolute_url }}">阅读量: {{ post.views }}</a>
                            </span>
                            <br>
                            <span class="dauthor">
                                文章作者: {{ post.author }} /
                                <a class="badge badge-pill badge-info"
                                   href="{% url 'blog:post_update' post.id %}">更新文章</a>

                                <a class="badge badge-pill badge-danger" href="#"
                                   onclick="confirm_safe_delete()">删除文章</a>
                            </span>
                            <br>
                            <span class="categories">文章分类:
                                <a href="{% url 'blog:category' post.category.pk %}"
                                   class="badge badge-pill badge-primary">{{ post.category.name }}</a>
                            </span>
                            <br>
                            <span class="tags">
                                文章标签: {% show_related_tags post %}
                            </span>
                        </p>

                        <!-- hidden form for submit safe_delete -->
                        <form
                                action="{% url 'blog:post_safe_delete' post.id %}"
                                id="safe_delete"
                                method="POST"
                                style="display: none"
                        >
                            {% csrf_token %}
                            <button type="submit">发送</button>
                        </form>
                    </div>

                    <div class="post-thumb">
                        <img src="https://source.unsplash.com/collection/220381/1300x500" alt="post-image"
                             title="post-image">
                    </div>

                    <div class="post-content">
                        {{ post.body |safe }}

                        <div class="bio cf">

                            <div class="gravatar">
                                <img src="{% static 'blog/images/author-img.png' %}" alt="">
                            </div>
                            <div class="about">
                                <h5><a title="Posts by {{ post.author }}" href="#" rel="author">{{ post.author }}</a>
                                </h5>
                                <p>全栈工程师（雾）</p>
                            </div>

                        </div>

                        <ul class="post-nav cf">
                            <li class="prev"><a rel="prev" href="#"><strong>上一篇</strong> Todo pre
                                Amet Nibh Vulputate</a></li>
                            <li class="next"><a rel="next" href="#"><strong>下一篇</strong> Todo next
                                Ipsum</a></li>
                        </ul>

                    </div>

                </article>
                <!-- post end -->

                <!-- Comments
                ================================================== -->

                {% show_comments post user %}

                <!-- Comments End -->
            </div>

            <!-- 侧边栏开发 -->
            <div id="secondary" class="four columns end">

                <aside id="sidebar">

                    <div class="widget widget_search">
                        <h5>Search</h5>
                        <form action="#">

                            <input class="text-search" type="text"
                                   onfocus="if (this.value == 'Search here...') { this.value = ''; }"
                                   onblur="if(this.value == '') { this.value = 'Search here...'; }"
                                   value="Search here...">
                            <input type="submit" class="submit-search" value="">

                        </form>
                    </div>


                    <div class="widget widget_text">
                        {% if post.toc %}
                            <h5 class="widget-title">文章目录</h5>
                            <div class="textwidget">{{ post.toc|safe }}</div>
                        {% else %}
                            <h5 class="widget-title">Tenet</h5>
                            <div class="textwidget">When in doubt, use brute force. ——Ken Thompson</div>

                        {% endif %}

                    </div>

                    <!-- 显示最近发布的5篇博客 -->
                    {% show_recent_posts 5 %}

                    <!-- 显示博客归档 -->
                    {% show_archives %}

                    <!-- 显示所有的博客分类以及每个分类下的文章数 -->
                    {% show_categories %}

                    <!-- 显示所有的标签 -->
                    {% show_tags %}

                </aside>
                <!-- Sidebar End -->

            </div>

        </div>

    </div>
    <!-- Content End-->


    {% block script %}
        <!-- ckeditor auto fit width -->
        <script>
            $(".django-ckeditor-widget").removeAttr('style');
        </script>

        <script>
            // 加载 modal
            function load_modal(post_id, comment_id) {
                let modal_body = '#modal_body_' + comment_id;
                let modal_id = '#comment_' + comment_id;

                // 加载编辑器
                if ($(modal_body).children().length === 0) {
                    let content = `<iframe src="/comments/post-comment/${post_id}/${comment_id}" frameborder="0" style="width: 100%; height: 100%;"></iframe>`;
                    $(modal_body).append(content);
                }
                ;

                $(modal_id).modal('show');
            };

            // 处理二级回复
            function post_reply_and_show_it(new_comment_id) {
                let next_url = "{% url 'blog:detail' post.id %}";
                // 去除 url 尾部 '/' 符号
                next_url = next_url.charAt(next_url.length - 1) == '/' ? next_url.slice(0, -1) : next_url;
                // 刷新并定位到锚点
                window.location.replace(next_url + "#comment_elem_" + new_comment_id);
            };
        </script>
    {% endblock script %}

    <script>
        // 安全删除的弹窗确认
        function confirm_safe_delete() {
            layer.open({
                    title: "确认删除",
                    content: "确认删除这篇文章吗?",
                    yes: function (index, layero) {
                        $('form#safe_delete button').click();
                        layer.close(index);
                    }
                }
            )
        }

    </script>

{% endblock main %}