{% load static %} {% load blog_extras %}
<!DOCTYPE html>
<head>
    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    <title>M010K的个人博客</title>
    <meta name="description" content="基于HTML5/CSS3的个人博客">
    <meta name="author" content="M010K">

    <!-- Mobile Specific Metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'blog/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/media-queries.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/table_css/table.css' %}">
    <!-- 添加代码高亮样式 -->
    <link type="text/css" rel="stylesheet" href="{% static 'blog/css/highlight/styles/stackoverflow-light.min.css' %}">


    <!-- Script
   ================================================== -->
    <script src="{% static 'blog/js/modernizr.js' %}"></script>

    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}">


</head>

<body>
<!-- 引入导航栏 -->
{% include 'header.html' %}

{% block main %} {% endblock main %}

<!-- Call-To-Action Section
================================================== -->
<section id="call-to-action">

    <div class="row">

        <div class="eight columns offset-1">

            <h1><a href="https://github.com/M010K">探索更多内容</a></h1>
            <p>这个站点主要用来管理发布的博客，如需要访问其他内容，欢迎访问我的Github👏.
                <!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->.
            </p>

        </div>

        <div class="three columns action">


        </div>

    </div>

</section>
<!-- Call-To-Action Section End-->

<!-- Github Section
================================================== -->
<section id="tweets">

    <div class="row">

        <div class="tweeter-icon align-center">
            <i class="fa fa-github"></i>
        </div>

        <ul id="twitter" class="align-center">
            <li>
                    <span>
                        This is My Github Site.
                        <a href="https://github.com/M010K">https://github.com/M010K</a>
                    </span>
            </li>
        </ul>

        <p class="align-center"><a href="https://github.com/M010K" class="button">Follow HIM</a></p>

    </div>

</section>
<!-- Github Section End-->


<!-- 引入注脚 -->
{% include 'footer.html' %}

<!-- Java Script
================================================== -->
<script src="{% static 'blog/css/table_css/wrap_table.js' %}"></script>


<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    window.jQuery || document.write("<script src= '{% static 'blog/js/jquery-1.10.2.min.js'%}'><\/script>")
</script>
<script type="text/javascript" src="{% static 'blog/js/jquery-migrate-1.2.1.min.js' %}"></script>

<script src="{% static 'blog/js/jquery.flexslider.js' %}"></script>
<script src="{% static 'blog/js/doubletaptogo.js' %}"></script>
<script src="{% static 'blog/js/init.js' %}"></script>

<!-- code highlight -->
<script src="{% static 'blog/css/highlight/highlight.js' %}"></script>
<script src="{% static 'blog/css/highlight/highlight.min.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>

</body>

</html>