{% load static %} {% load blog_extras %}
<!DOCTYPE html>

<head>
    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    {% if user %}
        <title>{{ user }}的个人博客</title>
    {% else %}
        <title>M010K的个人博客</title>
    {% endif %}
    <meta name="description" content="基于HTML5/CSS3的个人博客">
    <meta name="author" content="M010K">

    <!-- Mobile Specific Metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'blog/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/media-queries.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/table_css/table.css' %}">

    <!-- 添加代码高亮样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.0.1/styles/stackoverflow-light.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-easyui@1.5.21/css/easyui.css">


    <!-- Script
   ================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/npm-modernizr@2.8.3/modernizr.min.js"></script>


    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}">


</head>

<body>
<!-- 引入导航栏 -->
{% include 'header.html' %} {% block main %} {% endblock main %}

<!-- Call-To-Action Section
================================================== -->
<section id="call-to-action">

    <div class="row">

        <div class="eight columns offset-1">

            <h1><a href="https://github.com/M010K/Django_Blog">探索更多内容</a></h1>
            <p>这个站点主要用来管理发布的博客，如需要访问其他内容，欢迎访问我的Github👏.
                <!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->.
            </p>

        </div>

        <div class="three columns action">


        </div>

    </div>

</section>
<!-- Call-To-Action Section End-->

<!-- Github Section
================================================== -->
<section id="github">

    <div class="row">

        <div class="github-icon align-center">
            <i class="fa fa-github" href="https://github.com/M010K"></i>
        </div>

        <ul id="githuber" class="align-center">
                <span>
                    This is My Github Site.
                    <a href="https://github.com/M010K">https://github.com/M010K</a>
                </span>
        </ul>

        <p class="align-center"><a href="https://github.com/M010K" class="button">Follow HIM</a></p>

    </div>

</section>
<!-- Github Section End-->


<!-- 引入注脚 -->
{% include 'footer.html' %}

<!-- Java Script
================================================== -->
<script src="{% static 'blog/css/table_css/wrap_table.js' %}"></script>

<script>
    window.MathJax = {
        tex: {
            inlineMath: [
                ['$', '$'],
                ['\\(', '\\)']
            ]
        }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-migrate@3.3.2/dist/jquery-migrate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.easyui@1.0.0/jquery.easyui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flexslider@2.7.2/jquery.flexslider.min.js"></script>

{% block script %}{% endblock script %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>



<script src="{% static 'blog/js/doubletaptogo.js' %}"></script>
<script src="{% static 'blog/js/init.js' %}"></script>

<!-- code highlight -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>

<!-- 引入layer.js -->
<script src="{% static 'layer/layer.js' %}"></script>

</body>

</html>