<!-- footer
================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">
            <ul class="footer-nav">
                <li><a href="{% url 'blog:index' %}">Home.</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog:blog_index' user.id %}">Blog.</a></li>
                {% else %}
                    <li><a href="#">Blog.</a></li>
                {% endif %}

                <!-- <li><a href="portfolio-index.html">Portfolio.</a></li> -->
                <li><a href="{% url 'blog:about' %}">About.</a></li>
                <li><a href="{% url 'blog:contact' %}">Contact.</a></li>
                <li><a href="{% url 'blog:about' %}">Features.</a></li>
            </ul>

            <ul class="footer-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>

            <ul class="copyright">
                <li>Copyright &copy; 2021 M010K</li>
            </ul>

        </div>

        <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

    </div>

</footer>
<!-- Footer End-->